
.success-container {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #ff0b0b;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto Condensed";
  
}

.success-line {
  text-align: center;
  margin: 20px 0px;
}
