.form-top-section{
  background-color: #F8F5F0;
  padding-bottom: 20px;
}

.form-mid-section{
  max-width: 500px;
  margin: auto;
}

.malzemecontainer {
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.size-container {
  display: flex;
  gap: 80px;
  margin-top: 20px
}

.hamur-container {
  display: flex;
  flex-direction: column;
}

.ordernote-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
}

.price {
  display: flex;
  justify-content: space-between;
}

.pizza-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.select-pizza-radio-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dough-type-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.red-mark {
  color: red;
}
.size-font{
  font-family: 'Roboto Condensed';
  font-weight: 900;
  font-size: 20px;
}

.topping-warning-font{
  font-family: 'Roboto Condensed';
  color: #5F5F5F;
  font-size: 15px;
}

.toppings-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}