.order-summary-total {
  display: flex;
  justify-content: center; /* Bileşenleri yatay olarak sayfanın ortasına hizalar */
  align-items:flex-start; /* Bileşenleri dikey olarak sayfanın üst kısmına hizalar */
  align-content: space-around;
  justify-content: space-around;
  margin-bottom: 100px;
}

.red-total {
  color: red;
  display: flex;
  justify-content: space-between;
}

.order-sum-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  width: 300px;
  margin-left: 20px; /* Sol tarafta boşluk bırakmak için */
  background-color: #FAF7F2;
  position: relative; /* Konumlandırma için */
  text-align:start;
  font-family: "Quattrocento";

}

.order-sum-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.order-sum-container button {
  background-color: #FDC913;
  border: none;
  padding: 10px 70px;
  font-size: 16px;
  cursor: pointer;
  color: black; /* Bu satırı ekledim, hover durumunda yazı rengini siyah yapmak için */
  position: absolute; /* Konumlandırma için */
  left: 0; /* Butonun sol kenara hizalanması */
  width: 100%; /* Butonun container ile aynı genişlikte olması */

}

.order-sum-container button:hover {
  background-color: #5F5F5F;
}

.selection-label {
  display: flex;
  justify-content: space-between;
}

.selection-label .price {
  margin-left: auto;
}

.selection-label-wrapper{
  
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 15px;

}

