.category-container{
    display: flex;
    flex-direction: row;
    padding-left:  100px;
    padding-right: 100px;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    width: auto;
}

.category-items{
    display: flex;
    gap: 20px;
    height: max-content;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Barlow";
}