.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #FAF7F2;
}

/* .MiddleCategory {
    display: flex;
    justify-content: center;
} */

.small-red-title {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #CE2829;
    font-size: x-large;
  }

  .big-normal-title {
    font-size: xx-large;
    font-weight: bolder;
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 20px;
  }

  /* .category-containerbottom{
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-left: 80px;
    margin-bottom: 20px;
  } */
  
  .category-containerbottom {
    display: flex;
    align-items: center;
    cursor: pointer; 
    padding: 6px; 
    border-radius: 10px; 
    transition: background-color 0.3s;
    border-radius: 60px;
    background-color: #fff;
  }

  .category-containerbottom:hover {
    background-color: #292929; /* Change background color on hover */
}

.category-items span {
  font-size: 16px; /* Adjust text size */
}


/* .category-containerbottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20%;
    
  } */


  .ulContainer {
    display: flex;
    justify-content: space-between;
}

.category-containerbottomText{
  font-family: Quattrocento;
}

.middleCategoryProducts {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.foodItemsFrame {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #fff; 
  padding: 10px 25px 10px 25px;
  margin-bottom: 20px;
}

.productDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.productDetails img {
  width: 200px; /* Adjust width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add margin between image and details */
}

.productName {
  font-weight: bold; /* Make product name bold */
  margin-bottom: 5px; /* Add margin below product name */
}

.productRating p {
  margin: 0; /* Remove default margin for paragraphs */
}

.productRating strong {
  margin-right: 5px; /* Add margin between label and value */
}

.midCategoryContainer{
  margin: 0px 50px;
}

.ItemWrapper {
  display: flex;

  justify-content: space-around;
  margin-top: 10px;
}

.wrapper-menu-products {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
}
.ListItems {
  display: flex;
  justify-content: space-evenly;
}

.deneme {
  display: flex;
  align-items: center;
  flex-direction: column;
}