.footer {
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .columns {
    display: flex;
    justify-content: space-between;
  }
  
  .tradeMark {
    margin-top: 20px; /* Add margin as needed */
  }
  
  .instagram-section {
display: flex;
flex-wrap: wrap;
justify-content: space-between
  }

  .instagram-section img {
    width: 100px;
    height: auto;
    padding-inline-start: 35px;
  }

.MiddleSection a {
  color: aliceblue!important;
  

}

.Middle {
    line-height: 45px;
}

